.sectionVegetaKillGoku {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 25vh);
  margin-bottom: 10px;
  &-container1 {
    background-color: #000;
    background: url("../assets/img/goku_attack1.png") no-repeat;
    background-size: 100% 100%;
    grid-column: 1/7;
    grid-row: 1/3;
    clip-path: polygon(0 0, 99% 0%, 92% 100%, 0 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container2 {
    background: url("../assets/img/vegeta_attack.png") no-repeat;
    background-size: 100% 100%;
    grid-column: 6/13;
    grid-row: 1/3;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 9% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container3 {
    background: url("../assets/img/Goku_death.jpg") no-repeat center;
    background-size: cover;
    grid-column: 1/7;
    grid-row: 3/5;
    clip-path: polygon(0 0, 92% 0%, 84.5% 100%, 0% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }
  &-container4 {
    background: url("../assets/img/vegeta_rit.jpg") no-repeat;
    background-size: 100% 100%;
    grid-column: 6/13;
    grid-row: 3/4;
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 6% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container5 {
    position: relative;
    background-color: #000;
    grid-column: 6/13;
    grid-row: 4/4;
    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 2.6% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    &-description {
      width: 80%;
      top: 50%;
      padding-left: 15%;
      position: absolute;
      font-size: 42px;
      font-family: SaiyanSans;
      text-align: center;
      color: #f2f2f2;
      text-shadow: 0 0 4px #020202;
      bottom: 0;
    }
  }
  &-chichi {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 25vh);
    margin-bottom: 10px;
    &-container {
      position: relative;
      background-color: #000;
      background-size: 100% 100%;
      grid-column: 1/13;
      grid-row: 1/3;
      margin-bottom: 5px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      &-description {
        position: absolute;
        font-size: 42px;
        font-family: SaiyanSans;
        text-align: center;
        color: #f3f3f3;
        text-shadow: 0 0 2px #020202;
        padding-left: 11%;
        width: 80%;
        top: 50%;
        bottom: 0;
      }
    }
    &-container1 {
      background: url("../assets/img/Chichi_vegeta.png") no-repeat;
      background-size: 100% 100%;
      grid-column: 1/6;
      grid-row: 3/5;
      -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0%, 96% 100%, 0 100%);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
    &-container2 {
      position: relative;
      background-color: #000000;
      grid-column: 5/13;
      grid-row: 3/5;
      -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
      clip-path: polygon(13.5% 0, 100% 0%, 100% 100%, 11% 100%);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      &-description {
        position: absolute;
        font-size: 42px;
        font-family: SaiyanSans;
        text-align: center;
        color: #f3f3f3;
        text-shadow: 0 0 2px #020202;
        padding-left: 15%;
        width: 80%;
        top: 50%;
        bottom: 0;
      }
    }
  }
  &-vegetachie {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 25vh);
    margin-bottom: 10px;
    &-container {
      position: relative;
      background-color: #000000;
      grid-column: 6/13;
      grid-row: 1/5;
      -webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%);
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      &-description {
        position: absolute;
        font-size: 42px;
        font-family: SaiyanSans;
        text-align: center;
        color: #f3f3f3;
        text-shadow: 0 0 2px #020202;
        padding-left: 15%;
        width: 80%;
        top: 50%;
        bottom: 0;
      }
    }
    &-container1 {
      background: url("../assets/img/Vegeta_pls.jpeg") no-repeat center;
      background-size: cover;
      grid-column: 1/7;
      grid-row: 1/3;
      -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
      clip-path: polygon(0% 0%, 94% 0%, 88% 100%, 0% 100%);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    &-container2 {
      position: relative;
      background-color: #000;
      grid-column: 1/7;
      grid-row: 3/5;
      -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
      clip-path: polygon(0% 0%, 88% 0%, 82% 100%, 0% 100%);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      margin-top: 5px;
      &-description {
        position: absolute;
        font-size: 42px;
        font-family: SaiyanSans;
        text-align: center;
        color: #f3f3f3;
        text-shadow: 0 0 2px #020202;
        width: 75%;
        padding-left: 5%;
        top: 50%;
        bottom: 0;
      }
    }
  }
}