body {}

.header {
  position: relative;
  &-container {
    position: absolute;
    z-index: 10;
  }
}

.sectionFirstGoku {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 25vh);
  &-container1 {
    background: url('../assets/img/GokuSelection.svg') no-repeat center;
    background-size: cover;
    grid-column: 8/13;
    grid-row: 1/5;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 1% 100%);
    &-block1 {}
  }
  &-container2 {
    // position: absolute;
    // visibility: hidden;
    background-color: #000000;
    background-size: cover;
    grid-column: 1/9;
    grid-row: 1/3;
    padding: 0 80px;
    padding-top: 13rem;
    clip-path: polygon(0% 0%, 93% 0%, 90% 99%, 0% 99%);
    &-block2 {
      &-description {
        font-size: 42px;
        font-family: SaiyanSans;
        text-shadow: 0 0 5px #FFFFFF;
      }
    }
  }
  &-container3 {
    // position: absolute;
    // visibility: hidden;
    background: url('../assets/img/Goku_en_retard_3.svg') no-repeat;
    background-size: cover;
    grid-column: 1/9;
    grid-row: 3/5;
    clip-path: polygon(0% 1%, 90% 1%, 87% 100%, 0% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    &-block3 {}
  }
}