.FirstChoiceGohan-Page1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 25vh);
  font-size: 42px;
  font-family: SaiyanSans;
  color: #FFFFFF;
  &-container1 {
    grid-column: 7/13;
    grid-row: 1/3;
    background: url('../assets/img/Freezer_tue_gohan.png') no-repeat top center;
    background-size: cover;
    clip-path: polygon(19% 0%, 100% 0%, 100% 99%, 16% 99%);
  }
  &-container2 {
    grid-column: 1/9;
    grid-row: 1/3;
    background: url('../assets/img/Gohan_mort_3.png') no-repeat top center;
    background-size: cover;
    clip-path: polygon(0% 0%, 88% 0%, 85.7% 99%, 0% 99%);
  }
  &-container3 {
    grid-column: 1/5;
    grid-row: 3/5;
    background: url('../assets/img/Vegeta_gagne_7.png') no-repeat top center;
    background-size: cover;
    clip-path: polygon(0% 2%, 88% 2%, 83% 100%, 0% 100%);
  }
  &-container4 {
    grid-column: 4/8;
    grid-row: 3/5;
    background: url('../assets/img/Goku_senerve.jpg') no-repeat top center;
    background-size: cover;
    clip-path: polygon(15% 2%, 96% 2%, 92% 100%, 10% 100%);
  }
  &-container5 {
    grid-column: 7/13;
    grid-row: 3/5;
    background-color: #000000;
    clip-path: polygon(16% 2%, 100% 2%, 100% 100%, 13% 100%);
    padding-top: 10rem;
    padding-left: 7rem;
    &-description {
      width: 90%;
      text-align: center;
    }
  }
}
