  // Début combat sectionThirdGoku-steps //
  .sectionSecondGoku {
    &-Page2 {
      background: url('../assets/img/arene_budokai.jpg') no-repeat center;
      background-size: cover;
      height: 100vh;
      opacity: 0.8;
    }
  } // Fin combat sectionThirdGoku-steps //