.sectionSecondGoku {
  // visibility: hidden;
  width: 100vw;
  height: 100vh;
  display: flex; // align-items: center;
  // margin: 0 auto;
  // display: none;
  &-container {
    position: relative;
    display: inline-block;
  }
  &-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 59px;
    height: 100px;
    background: url('../assets/imgSprite/goku.png');
    transition: background 1s steps(3), infinite;
  }
  &-container:hover::after {
    animation: goku 1s steps(3) infinite;
  }
  @keyframes goku {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -302px;
    }
  } // &-description{
  //   margin: 0 auto;
  //   font-size: 100px;
  //   font-family: SaiyanSans;
  // }
}