@import './global/reset';
/* ./global/_reset.scss */

@import './global/variables';
/* ./global/_variables.scss */

// Import Mixins
@import './mixins/responsive';
// Import Components
@import './components/ChoicePageGoku';
@import './components/ChoicePageVegeta';
@import './components/ChoicePageFreezer';
@import './components/header';
@import './components/SelectionPage';
@import './components/sectionRetry';
// Styles SCSS de Freezer
@import './components/FreezerSCSS/sectionFreezerKillGoku';
@import './components/FreezerSCSS/sectionFreezerKillKrillin';
@import './components/FreezerSCSS/sectionFirstFreezer';
@import './components/FreezerSCSS/sectionSecondFreezer';
@import './components/FreezerSCSS/sectionThirdFreezer';
// Styles SCSS de Goku
@import './components/GokuSCSS/sectionFirstGoku';
@import './components/GokuSCSS/sectionFirstGoku-Page3';
@import './components/GokuSCSS/sectionSecondGoku';
@import './components/GokuSCSS/sectionThirdGoku';
@import './components/GokuSCSS/sectionThirdGoku-Page2';
@import './components/GokuSCSS/sectionSecondGoku-Page1';
@import './components/GokuSCSS/sectionSecondGoku-Page2';
@import './components/GokuSCSS/sectionSecondGoku-Page3';
@import './components/GokuSCSS/sectionSecondGoku-Page4';
@import './components/GokuSCSS/sectionSecondGoku-Page5';
@import './components/GokuSCSS/FirstChoiceGohan-Page1';
@import './components/GokuSCSS/SecondChoiceGohan-Page1';
// Styles scss de Vegeta
@import './components/VegetaSCSS/sectionVegetaWithBulma';
@import './components/VegetaSCSS/sectionVegetaKillGoku';
@import './components/VegetaSCSS/sectionVegetaWin';
@import './components/VegetaSCSS/sectionVegetaBelieve';
@import './components/VegetaSCSS/sectionFirstVegeta';
@import './components/VegetaSCSS/sectionSecondVegeta';
@import './components/VegetaSCSS/sectionThirdVegeta';
