.sectionFreezerKillGokuBackground {
  background: url('../assets/img/arene_budokai.jpg') no-repeat;
  opacity: 0.8;
  background-size: 100% 100%;
  height: 100vh;
}

.sectionFreezerKillGoku {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 25vh);
  &-container {
    position: relative;
    background-color: #000;
    background-size: 100% 100%;
    grid-column: 1/7;
    grid-row: 1/3;
    margin-bottom: 5px;
    clip-path: polygon(0 0, 100% 0%, 83.5% 100%, 0% 100%);
    &-description {
      width: 85%;
      top: 50%;
      text-align: center;
      position: absolute;
      font-size: 42px;
      font-family: SaiyanSans;
      text-align: center;
      color: #f3f3f3;
      text-shadow: 0 0 2px #020202;
      bottom: 0;
    }
  }
  &-container1 {
    background: url('../assets/img/Goku_mort.png') no-repeat center;
    background-size: cover;
    grid-column: 6/13;
    grid-row: 1/3;
    margin-bottom: 5px;
    clip-path: polygon(15.35% 0%, 100% 0%, 100% 100%, 1.3% 100%);
  }
  &-container2 {
    background: url('../assets/img/Goku_mort_2.png') no-repeat center;
    background-size: cover;
    grid-column: 1/6;
    grid-row: 3/5;
    clip-path: polygon(0 0, 100% 0%, 78.3% 100%, 0% 100%);
  }
  &-container3 {
    background: url('../assets/img/Gohan_mort_3.png') no-repeat center;
    background-size: 100% 100%;
    grid-column: 5/11;
    grid-row: 3/4;
    clip-path: polygon(18% 0%, 96% 0%, 89% 100%, 8.9% 100%);
  }
  &-container4 {
    background: url('../assets/img/Freezerrecherche2.png') no-repeat center;
    background-size: 100% 100%;
    grid-column: 5/11;
    grid-row: 4/5;
    clip-path: polygon(9% 0%, 89% 0%, 81.8% 100%, 0% 100%);
    margin-top: 5px;
  }
  &-container5 {
    position: relative;
    background: url('../assets/img/shenron.gif') no-repeat center;
    background-size: cover;
    grid-column: 10/13;
    grid-row: 3/5;
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(100%);
  }
}