.sectionSecondFreezer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 25vh);
  &-container1 {
    background: url('../assets/img/freezer_boule_de_crystale.png') no-repeat;
    background-size: 100% 100%;
    grid-column: 1/6;
    grid-row: 1/3;
    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container2 {
    background: url('../assets/img/freezer_recherche.png') no-repeat;
    background-size: 100% 100%;
    grid-column: 5/13;
    grid-row: 1/3;
    clip-path: polygon(14% 0, 100% 0%, 100% 100%, 9% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container3 {
    background: url('../assets/img/boules_de_crystale.png') no-repeat;
    background-size: 100% 100%;
    grid-column: 1/3;
    grid-row: 3/5;
    clip-path: polygon(0 0, 100% 0%, 94.5% 100%, 0% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }
  &-container4 {
    background: url('../assets/img/freezerrecherche2.png') no-repeat;
    background-size: 100% 100%;
    grid-column: 3/6;
    grid-row: 3/5;
    clip-path: polygon(3% 0, 86.7% 0%, 74.7% 100%, 0% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }
  &-container5 {
    background: url('../assets/img/freezer_recherche_3.png') no-repeat;
    background-size: 100% 100%;
    grid-column: 5/13;
    grid-row: 3/4;
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 6.8% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    margin-bottom: 5px;
  }
  &-container6 {
    position: relative;
    background-color: #000000;
    grid-column: 5/13;
    grid-row: 4/5;
    clip-path: polygon(6.8% 0, 100% 0%, 100% 100%, 4.2% 100%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    &-description {
      position: absolute;
      font-size: 42px;
      font-family: SaiyanSans;
      text-align: center;
      color: #f3f3f3;
      text-shadow: 0 0 2px #020202;
      padding-left: 10%;
      margin: auto;
      top: 50%;
      bottom: 0;
    }
  }
  &-choice {
    position: relative;
    height: 100vh;
    background: url('../assets/img/Freezer_dark.jpg')no-repeat right center;
    background-size: cover;
  }
  .ChoiceFreezer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    &-href {
      display: flex;
      text-decoration: none;
      padding: 15px;
    }
    &-Cristal {
      width: 35px;
      height: 35px;
      margin-right: 15px;
    }
    &-title {
      font-size: 3.2rem;
      font-family: SaiyanSans;
      color: #f5f5f5;
      text-shadow: 0 0 3px #090909;
    }
    &-title:hover {
      transition: 0.6s;
      color: #d3102a;
      text-shadow: 0 0 3px #000000;
    }
  }
}